@font-face{
    font-family: "Montserrat";                                      
    src: local("Montserrat Bold"),                                  
        url("../fonts/montserrat-800.woff2") format("woff2"),
		url("../fonts/montserrat-800.woff") format("woff");
	font-display: swap;                                         
    font-weight: 800;                                           
    font-style: normal;  
}                                      

@font-face{
    font-family: "Montserrat";                                      
    src: local("Montserrat Medium"),                                  
        url("../fonts/montserrat-700.woff2") format("woff2"),
		url("../fonts/montserrat-700.woff") format("woff");
	font-display: swap;                                         
    font-weight: 700;                                           
    font-style: normal; 
}                                       

@font-face{
    font-family: "Montserrat";                                      
    src: local("Montserrat"),                                  
        url("../fonts/montserrat-600.woff2") format("woff2"),
		url("../fonts/montserrat-600.woff") format("woff");
	font-display: swap;                                         
    font-weight: 600;                                           
    font-style: normal; 
}                                       

@font-face{
    font-family: "Montserrat";                                      
    src: local("Montserrat Regular"),                                  
        url("../fonts/montserrat-regular.woff2") format("woff2"),
		url("../fonts/montserrat-regular.woff") format("woff");
	font-display: swap;                                         
    font-weight: 300;                                           
    font-style: normal;   
}                                     