@font-face{
    font-family: "Montserrat";                                      
    src: local("Montserrat Bold"),                                  
        url("../fonts/montserrat-v14-latin_cyrillic-800.woff2") format("woff2"),
		url("../fonts/montserrat-v14-latin_cyrillic-800.woff") format("woff");
	font-display: swap;                                         
    font-weight: 800;                                           
    font-style: bold;  
}                                      

@font-face{
    font-family: "Montserrat";                                      
    src: local("Montserrat Bold"),                                  
        url("../fonts/montserrat-v14-latin_cyrillic-700.woff2") format("woff2"),
		url("../fonts/montserrat-v14-latin_cyrillic-700.woff") format("woff");
	font-display: swap;                                         
    font-weight: 700;                                           
    font-style: bold; 
}                                       

@font-face{
    font-family: "Montserrat";                                      
    src: local("Montserrat"),                                  
        url("../fonts/montserrat-v14-latin_cyrillic-600.woff2") format("woff2"),
		url("../fonts/montserrat-v14-latin_cyrillic-600.woff") format("woff");
	font-display: swap;                                         
    font-weight: 600;                                           
    font-style: bold; 
}                                       

@font-face{
    font-family: "Montserrat";                                      
    src: local("Montserrat Regular"),                                  
        url("../fonts/montserrat-v14-latin_cyrillic-regular.woff2") format("woff2"),
		url("../fonts/montserrat-v14-latin_cyrillic-regular.woff") format("woff");
	font-display: swap;                                         
    font-weight: 300;                                           
    font-style: bold;   
}                                     