@media (max-width: 1024px) {
.container{
    max-width: 1024px;
}

.section-heading{
    font-size: 48px;
    line-height: 59px;
}

.section-text{
    line-height: 32px;
}

.header{
    padding-bottom: 20px;
}

.main-nav{
    padding-right: 0;
    
}

.nav-list{
    font-size: 16px;
    line-height: 20px;  
}

.nav-list-item{
    margin-right: 59px;
} 

.search{
    margin-right: 34px;
    margin-left: 18px;
}

.logo{
    max-width: 150px;
}

.burger{
    display: inline-block;
    margin-right: 0;
}

.order{
    margin-bottom: 58px;
    padding-left: 45px;
    padding-top: 260px;
    padding-bottom: 30px;
}

.order-heading{
    font-size: 60px;
    line-height: 73px;
}

.order-text{
    margin-top: 12px;
    font-size: 20px;
    line-height: 24px;
    max-width: 658px;
}

.order-btn{
    margin-top: 110px;
}

.dots {
    display: flex;
    margin-top: 69px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.about{
    margin-bottom: 60px;
}

.about .section-text{
    margin-bottom: 60px;
}

.work{
    flex-direction: column;
}

.work-img-card{
    max-height: 640px;
    max-width: 924px;
    background-size: cover;
    padding-top: 477px;
}

.work-img-card-content{
    padding: 38px 50px 38px 44px;
}

.work-card{
    margin-left: 0;
    margin-top: 48px;
    max-width: 924px;
    background-position-x: 108px;
}

.work-card:not(:last-child){
    margin-bottom: 40px;
}

.work-card-item {
    padding: 78px 80px 62px 364px ;
}

.setting .work-card-item{
    padding-top: 62px;
}

.how-work{
    margin-bottom: 58px;
}

.steps{
    margin-top: 32px;
    margin-bottom: 44px;
}

.steps::before{
    content: " ";
    position: absolute;
    top: -14px;
    height: 3px;
    width: 469px;
    background: #CACACA;
}

.steps-item{
    font-size: 18px;
    line-height: 22px;
}

.steps-item:hover::before, .steps-item:focus::before{
    content: " ";
    position: absolute;
    top: -14px;
    height: 3px;
    width: 47px;
    background: #FF9900;
}

.steps-item:not(:first-child){
    margin-left: 76px; 
}

.steps-card{
    background-image: url("../img/work-tablet.png");
    
}

.steps-card .card-descp{
    margin-bottom: 23px;
}

.steps-card .card-heading{
    margin-bottom: 6px;
    font-size: 24px;
    line-height: 32px;
}

.faq{
    margin-bottom: 49px;
}

.faq-list-item{
    padding-bottom: 44px;
    padding-top: 25px;
    font-size: 20px;
    line-height: 20px;
}

.faq-list-item:nth-child(1){
    padding-top: 40px;
}


.faq-list-item:nth-child(2n){
    padding-top: 14px;
}

.faq-more-btn{
    font-size: 20px;
    line-height: 32px;
}

.faq-btn-text{
    max-width: 750px;
    font-size: 20px;
    line-height: 32px;
}

.footer .container{
    display: flex;
}

.footer-column{
    display: none;
}

.logo-repeat {
    display: block;
    max-width: 224px;
}

.footer-text{
    display: none;
}

.feedback{
    margin-right: 73px;
}

.feedback-form-item{
    max-width: 534px;
}

.submit-btn{
    padding: 20px 38px;
    margin-right: 12px;
    margin-top: 0;
}

.footer-nav{
    margin-top: 0;
    margin-right: 0;
    line-height: 50px;
}

.links-list{
    display: none;
}

.links-list-repeat{
    margin-top: 21px;
    margin-right: 0;
    display: flex;
}

}